form {
    width: 600px;
    height: 600px;
    margin-left: 20%;
    float: left;
  }

  .box-Form {
    float: left;
    align-items: center;
    justify-items: center;
    margin-left: 10%;
  }

  
  .input-text ,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  

  label {
    float: left;
  }

  button[type='submit'] {
    background-color: rgb(212, 41, 41);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    margin-left: 20%;
  }

  button[type='submit']:hover {
    background-color: #ca7627;
  }


  a {
    color: red;
  }

  